* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

/*Header item*/
header {
    margin-bottom: 30px;
}

#server-logo {
    float: left;
    cursor: pointer;
    margin-bottom: 20px;
}

.light-brown-orange {
    background-color: rgb(247, 168, 103);
}

.menu-item {
    float: left;
    color: rgb(116, 63, 27);
    font-size: 2.5em;
    margin: auto;
}

.navigation-links {
    color: rgb(116, 63, 27);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 40px;
    font-family: 'Cinzel', serif;
}

.bar-icon {
    display: none;
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

.clearfix {
    clear: both;
}

/*Main body color*/
body {
    background-color: rgb(179, 121, 71);
}

/*Welcoming message styles (h1)*/
#title-properties {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2em;
    color: rgb(116, 63, 27);
    font-family: 'Cinzel', serif;
}

/*Slideshow styles.*/
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.distance-from-upper-element {
    margin-top: 30px;
}

.numbertext {
    text-align: center;
    color: rgb(235, 170, 127);
    font-size: 2em;
    padding: 3px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active{
    background-color: #717171;
  }

/*Home page text styles.*/
.text-properties {
    font-size: 1.5em;
    text-align: center;
    color: rgb(116, 63, 27);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Cinzel', serif;
    
}

/*Footer styles*/
footer {
    margin-top: 60px;
    vertical-align: bottom;
}

/*Small device styles*/
@media (max-width: 640px) {

    /*Header styels for small devices*/
    #server-logo {
        float:none;
        text-align: center;
    }

    .dropdown {
        margin-top: 10px;
        text-align: center;
    }

    .bar-icon {
        display: block;
        padding: 7px;
        color: rgb(116, 63, 27);
    }

    .bar-icon:hover {
        color: brown;
        cursor: pointer;
    }

    .menu-item {
        float: none;
    }

    .dropdown-content > div{
        padding: 7px;
        border-width: 4px;
        border-style: solid;
        text-align: center;
        margin: 5px;
    }

    .navigation-links:hover {
        color: brown;
        font-size: 1.2em;
        cursor: pointer;
    }

    /*Main body styles for small devices*/
    #title-properties {
        font-size: 2em;
    }

    /*Slideshow styles*/
    .numbertext {
        font-size: 1.5em;
    }

    .dot{
        height: 10px;
        width: 10px;
    }
}

/*Medium device styles*/
@media (min-width: 641px) and (max-width: 1007px) {
    
    /*Header styles for medium devices*/
    #server-logo {
        text-align: center;
        float: none;
    }

    .dropdown-content {
        display: block;
    }

    .dropdown-content > div{
        padding: 7px;
        border-width: 4px;
        border-style: solid;
        text-align: center;
        margin: 5px;
    }

    .navigation-links {
        float: none;
    }

    .menu-item {
        float: none;
        text-align: center;
    }

    .navigation-links:hover {
        color: brown;
        cursor: pointer;
    }

    /*Main body styles for medium devices*/
    #title-properties {
        font-size: 2.3em;
    }
    
    .text-properties {
        font-size: 1.6em;
    }
}

/*Large device styles*/
@media (min-width: 1008px) {
    /*Header styles for large devices*/
    #server-logo {
        text-align: center;
        float: none;
    }

    .dropdown-content {
        display: block;
    }

    .dropdown-content > div{
        padding: 7px;
        border-width: 4px;
        border-style: solid;
        text-align: center;
        margin: 5px;
    }

    .navigation-links {
        padding: 15px;
        font-size: 1.3em;
        margin: auto;
    }

    .menu-item {
        float: none;
        text-align: center;
    }

    .navigation-links:hover {
        color: brown;
        cursor: pointer;
    }

    /*Main body styles for large devices*/
    #title-properties {
        font-size: 3.5em;
    }

    .text-properties {
        font-size: 1.7em;
    }
}
